*{
    padding:0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
}
.common-btn{
    background-color: #FD6E0A;
    padding: 5px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;

}
.outline-btn{
     background-color: white;
    padding: 5px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    color:#FD6E0A;
    border-color: #FD6E0A;
    cursor: pointer;
}
.header-root{
    background-color: bisque;
}
nav {
    
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 8px;
}
.logo{
    font-weight: bold;
    font-size: 40px;

}
.logo-r{
    color:#FD6E0A ;
    font-family: "Open Sans", sans-serif;

}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;

}
ul li a {
    text-decoration: none;
}
.hero-p-root{
    background-color: rgb(144, 181, 197);
}
.hero-p{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    
}
.h-left-p-1{
    font-weight: 600;
    font-size: 20px;
}
.h-left h2{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 12px;
}
.h-left-btn{
    margin-top: 12px;
}
/* .h-right{
   
    background: url(/images/header_bg.png);
    background-repeat: no-repeat;
    mix-blend-mode: normal;


} */
 .a-root{
    background-color: #e8a372;
    margin: auto;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
 }
 /* .a-root .a-box{
    gap:10px;
 } */
 .a-box{
     display: flex;
  justify-content: space-between;
  gap: 8px;
  max-width: 1200px;
    margin: auto;
 }
 .a-box .box{
    background-color: #c7ecf8;
    padding: 5px;
    border-radius: 5px;
 }
 .what-parent{
    margin: 50px auto;
    text-align: center;

 }
 .what-card-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap:8px;
    
 }
 .what-card-container .what-card{
    border:2px solid orchid;
    background-color: beige;
    border-radius: 10px;

 }
.amazing-parent{
    margin: 50px auto;
    text-align: center;
}
.amazing-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows:250px;
    margin-top: 20px;
    gap: 12px;
}
.amazing-box{
    height:100%;
    width:100%;
    object-fit:cover;
}